.rta-ad {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-top: 35px;
  margin-bottom: 45px;
  position: relative;
}
.rta-ad span {
  text-align: center;
  color: #ff0000;
}
.rta-ad .image {
  flex: 1;
  text-align: right;
}
.rta-ad .image a {
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
}
.rta-ad .image a:focus {
  box-shadow: none;
}
.rta-ad .image img {
  width: 180px;
}
.rta-ad .line {
  flex: 2;
}
.rta-ad .line h3 {
  color: #00d0e5;
  font-size: 22px;
}
.rta-ad .button-wrap {
  flex: 1;
  text-align: left;
}
.rta-ad .button-wrap .button {
  background: #ff0000;
  padding: 4px 12px;
  font-weight: 700;
  font-size: 20px;
  margin: 12px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
}

.wrap h1.rta-title {
  background: #1abdca;
  background: linear-gradient(90deg, rgb(26, 189, 202) 72%, rgba(255, 255, 255, 0) 99%);
  color: #fff;
  font-weight: 700;
  padding: 8px 0 8px 15px;
}

.rta-admin {
  /*  .rta-ad
    {
      background: #fff;
      border: 1px solid #eee;
      padding: 16px;
      margin: 20px 0;
      display: flex;
      align-items: center;
      .img-wrapper {
      //  float: left;
        margin-right: 25px;
      }
      h3, p { margin: 6px 0; }
      a {
         font-size: 16px;
         font-weight: 700;
         text-decoration: underline;
         color: $base_color;
      }

    } */
}
.rta-admin .two-panel-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .rta-admin .two-panel-wrap.settings-panels {
    flex-direction: column-reverse;
  }
  .rta-admin .two-panel-wrap.settings-panels .rta-settings-wrap, .rta-admin .two-panel-wrap.settings-panels .rta-regenerate-wrap {
    width: 100%;
    max-width: none;
    margin: 14px 0;
  }
}
@media (max-width: 1200px) {
  .rta-admin .two-panel-wrap.process-wrap button.resume-process, .rta-admin .two-panel-wrap.process-wrap button.stop-process, .rta-admin .two-panel-wrap.process-wrap button.pause-process {
    max-width: none;
    width: 80%;
    left: 5%;
    right: 5px;
  }
  .rta-admin .two-panel-wrap.process-wrap button.resume-process, .rta-admin .two-panel-wrap.process-wrap button.pause-process {
    bottom: 15%;
  }
}
.rta-admin h2 {
  font-size: 26px;
  padding-left: 8px;
}
.rta-admin h4 {
  font-size: 16px;
  margin: 8px 0 8px 15px;
}
.rta-admin form {
  min-height: 600px;
  padding-bottom: 65px;
}
.rta-admin .pro-only {
  background-color: #1abdca;
  padding: 4px 2px;
  max-width: 80px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 0 0 4px 0;
  font-size: 12px;
}
.rta-admin .pro-only a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.rta-admin .rta-notice {
  margin: 8px 0;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  transition: all 500ms ease-in;
}
.rta-admin .rta-notice .icon {
  font-size: 35px;
  float: left;
  display: inline-block;
  width: auto;
  height: auto;
}
.rta-admin .rta-notice p {
  font-size: 15px;
  margin: 4px 0;
  margin-left: 45px;
}
.rta-admin .rta-notice p.small {
  font-size: 0.8em;
}
.rta-admin .rta-notice.warning {
  border-color: #ffb900;
}
.rta-admin .rta-notice.warning .icon {
  color: #ffb900;
}
.rta-admin .rta-notice.error {
  border-color: #ff0000;
}
.rta-admin .rta-regenerate-wrap, .rta-admin .rta-settings-wrap {
  flex: 1;
  position: relative;
  padding: 0 0 0 15px;
  background: #fff;
}
.rta-admin .rta-regenerate-wrap {
  margin-right: 8px;
}
.rta-admin .rta-settings-wrap {
  flex: 2;
}
.rta-admin .btn_add_more, .rta-admin button {
  color: rgb(255, 255, 255);
  background: #1abdca;
  position: relative;
  box-shadow: none;
  cursor: pointer;
  border: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.rta-admin .container {
  padding: 20px 8px;
  position: relative;
  margin: 0 auto;
}
.rta-admin .option {
  padding: 10px;
}
.rta-admin .option > label {
  width: 150px;
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  font-weight: bold;
  vertical-align: top;
  line-height: 15px;
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 782px) {
  .rta-admin .option > label {
    line-height: 1.5625rem;
    font-size: 15px;
  }
}
.rta-admin .option > label input {
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  margin-top: 2px;
}
.rta-admin .option > label span {
  display: inline-block;
  margin-left: 25px;
  line-height: 20px;
}
@media (max-width: 782px) {
  .rta-admin .option > label span {
    margin-left: 35px;
    font-size: 16px;
    vertical-align: bottom;
  }
}
.rta-admin .option .note {
  margin-left: 15px;
}
.rta-admin .option .note p {
  margin-top: 0;
}
.rta-admin .option .period-list {
  margin-left: 15px;
}
.rta-admin .option.custom_date {
  margin-left: 18px;
  margin-bottom: 10px;
}
.rta-admin .option.custom_date label {
  width: 90px;
  display: inline-block;
}
.rta-admin .option.custom_date input {
  margin: 2px 0;
  min-width: 150px;
}
@media (max-width: 782px) {
  .rta-admin .option.custom_date input {
    min-width: 165px;
  }
}
.rta-admin input.tiny {
  width: 65px;
}
@media (max-width: 782px) {
  .rta-admin input.tiny {
    width: 75px;
  }
}
.rta-admin button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
  padding: 16px;
  border-radius: 4px;
}
.rta-admin button.disabled {
  background: #ccc;
  cursor: default;
  color: #eee;
}
.rta-admin .btn_add_more {
  font-size: 13px;
  padding: 5px 6px;
  margin-left: 25px;
}
.rta-admin .table {
  display: flex;
  padding: 6px;
  flex-direction: column;
  border-spacing: 10px 0;
  border: 1px solid #eee;
  word-wrap: normal;
  white-space: nowrap;
}
.rta-admin .table .header, .rta-admin .table .row {
  display: flex;
}
.rta-admin .table .header input.image_sizes_pname, .rta-admin .table .row input.image_sizes_pname {
  max-width: 110px;
}
.rta-admin .table .header input.image_sizes_name, .rta-admin .table .row input.image_sizes_name {
  font-size: 10px;
  border: 0;
  background: unset;
  margin: 0;
  padding: 0;
}
.rta-admin .table .header span, .rta-admin .table .row span {
  padding: 5px;
  flex-basis: 100px;
}
.rta-admin .table .header span:nth-of-type(1), .rta-admin .table .row span:nth-of-type(1) {
  flex-basis: 120px;
}
.rta-admin .table .header span:nth-of-type(4), .rta-admin .table .row span:nth-of-type(4) {
  flex-basis: 150px;
}
.rta-admin .table .header span button, .rta-admin .table .row span button {
  padding: 0;
  background: unset;
  border: 0;
  box-shadow: none;
}
.rta-admin .table .header span button span, .rta-admin .table .row span button span {
  color: #ff0000;
}
.rta-admin .table .row.proto, .rta-admin .table .rta_hidden {
  display: none;
}
.rta-admin .flex {
  display: flex;
}
.rta-admin .thumbnail_select .note {
  margin-left: 0;
  border: 1px solid #ccc;
  padding: 8px;
  margin-left: 200px;
  margin-bottom: 25px;
}
@media (max-width: 650px) {
  .rta-admin .thumbnail_select .note {
    margin-left: 0;
  }
}
.rta-admin .checkbox-list {
  display: inline-block;
}
.rta-admin .checkbox-list .item {
  display: flex;
  margin: 5px 0px;
  float: left;
  clear: both;
  justify-content: space-between;
  width: 100%;
}
.rta-admin .checkbox-list .item.hidden {
  display: none;
}
.rta-admin .checkbox-list .item span {
  display: inline-block;
  margin-right: 14px;
}
.rta-admin .checkbox-list .item span.hidden {
  visibility: hidden;
}
.rta-admin .checkbox-list .item label {
  margin-right: 14px;
}
.rta-admin .checkbox-list input {
  margin-right: 8px;
}
.rta-admin .select-options {
  margin-left: 200px;
  margin-top: 15px;
}
.rta-admin .select-options > span {
  cursor: pointer;
  color: #222;
  margin-right: 12px;
  display: inline-block;
}
.rta-admin .select-options .note {
  margin-left: 0;
  border: 1px solid #ccc;
  padding: 8px;
}
@media (max-width: 650px) {
  .rta-admin .select-options {
    margin-left: 0;
  }
}
.rta-admin .cleanup-wrapper {
  padding: 8px;
  border: 1px solid #ddd;
}
.rta-admin .cleanup-wrapper .option .note {
  display: inline-block;
}
.rta-admin .cleanup-wrapper .option label {
  width: auto;
}
@media (max-width: 1500px) {
  .rta-admin .cleanup-wrapper .option {
    flex-wrap: wrap;
  }
  .rta-admin .cleanup-wrapper .option label {
    width: 100%;
  }
  .rta-admin .cleanup-wrapper .option .note {
    width: 100%;
    margin: 10px 0;
  }
}
.rta-admin .cleanup-wrapper .readmore {
  margin: 8px 0;
  text-align: right;
}
.rta-admin .cleanup-wrapper .readmore a {
  text-decoration: none;
}
.rta-admin .cleanup-wrapper .readmore a span {
  margin-right: 4px;
}
.rta-admin .warning-removal {
  position: relative;
  text-decoration: line-through;
}
.rta-admin .warning-removal .icon-warning {
  font-size: 30px;
  color: #ff0000;
  width: 20px;
  height: 20px;
  text-decoration: none;
  position: absolute;
  left: -30px;
  top: -7px;
  margin: 0;
}
.rta-admin .form_controls {
  position: absolute;
  left: 45px;
  bottom: 0px;
}
.rta-admin .form_controls .container {
  padding-left: 0;
}
.rta-admin .form_controls.regenerate-button {
  left: unset;
  right: 0;
}
.rta-admin .form_controls .save_indicator {
  display: none;
  color: #049901;
  font-weight: 700;
  background: url("/wp-admin/images/wpspin_light.gif") no-repeat left center;
  background-size: 16px 16px;
  padding-left: 20px;
}
.rta-admin .form_controls .save_indicator .saved {
  font-size: 60px;
}
.rta-admin .form_controls .save_note {
  color: orange;
  float: right;
  margin-left: 30px;
}
.rta-admin .toggle-window {
  cursor: pointer;
}
.rta-admin .toggle-window h4 {
  display: inline-block;
}
.rta-admin .toggle-window span {
  font-size: 26px;
  vertical-align: top;
  margin-top: 4px;
}
.rta-admin .window-up, .rta-admin .window-down {
  transition: all 500ms linear;
}
.rta-admin .window-up {
  opacity: 0;
  display: none;
}
.rta-admin .window-down {
  opacity: 100;
}

/*# sourceMappingURL=rta-admin-view.css.map */
