@import 'mixins';

.rta-admin
{
  .two-panel-wrap
  {
    display: flex;
    justify-content: space-between;
    @include breakpoint(0,1600px)
    {
      flex-direction: column-reverse;
      .rta-regenerate-wrap, .rta-settings-wrap
      {
        width: 95%;
        max-width: none;
      }

    }

  }

  h2 {
    font-size: 26px;
    padding-left: 8px;
  }
  h4 {
    font-size: 16px;
    margin: 8px 0 8px 15px;
  }

  form
  {
    min-height: 600px;
  //  background: #fff;
    padding-bottom: 65px;

  }

  .rta-regenerate-wrap, .rta-settings-wrap
  {
    //width: 50%; float: left;
    flex: 1;
    //min-height: 600px;
    margin-bottom: 20px;
    position: relative;
    //max-width: 49%;
    padding: 0 15px;
    background: #fff;
  }

  .rta-regenerate-wrap
  {
    max-width: 35%;
  }

  .rta-settings-wrap
  {
    max-width: 60%;
  }

  %button
  {
    color: rgb(255, 255, 255);
    background: rgb(0, 188, 212);
    position: relative;
    box-shadow: none;
    cursor: pointer;
    border: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 4px #aaa;
  }
  .container
  {
  //  max-width:90%;
    padding: 20px 8px;
  //background: #fff;
  position: relative;
    margin: 0 auto;
  }

  .option
  {
    padding: 10px;
    > label
    {
      width: 150px;
      display: inline-block;
      margin-right: 15px;
      padding: 0 15px;
      font-weight: bold;
      vertical-align: top;
      line-height: 15px;
    }
    .note
    {
      font-size: 12px;
      margin-left: 15px;
    }
  }

  input
  {
    &.tiny
    {
      width: 65px;
    }
  }


  button
  {
    @extend %button;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px;
    padding: 16px;
    border-radius: 4px;
    &.disabled
    {
      background: #ccc;
      cursor: default;
      color: #eee
    }
  }
  .btn_add_more
  {
    @extend %button;
    font-size: 13px;
    padding: 5px 6px;
    margin-left: 25px;
  }
  .table
  {
    //flex-wrap: wrap;
    table-layout: fixed;
    display: table;
    border-spacing: 10px 0;
    border: 1px solid #eee;
    word-wrap: normal;
    white-space: nowrap;

    .header, .row {
      width: 100%;
      display: table-row;

      input.image_sizes_pname { max-width: 180px; }

      span { display: table-cell;  padding: 5px;
        //min-width: 100px;
      }
    }

    .row.proto, .rta_hidden // used for JS cloning
    {
      display: none;
    }
  }

  .flex
  {
    display: flex;
  }

  .checkbox-list
  {
    //margin-left: 200px;
    display: inline-block;
    .item {
      display: flex;
      margin: 5px 0px;
      float: left;
      clear: both;
      justify-content: space-between;
      width: 100%;
      span
      {
        display: inline-block;
        margin-right: 14px;
      }
      span.hidden {
         visibility: hidden;

      }

    }
    input {
      margin-right: 8px;

    }



  }

  .select-options {
    margin-left: 200px;
    margin-top: 15px;
    > span { cursor: pointer; color: #222; margin-right: 12px; display: inline-block }
    .note { margin-left: 0; border: 1px solid #ccc; padding: 8px;  }
  }

  .cleanup-wrapper
  {
    padding: 8px;
    border: 1px solid #ddd;
    .option
    {
      display: flex;
      flex: 1;
      .note { flex: 2; }
    }
  }

  section.regenerate
  {
    background-color: #fff;
    .CircularProgressbar
    {
      display: inline-block;
      width: 200px;
      padding: 25px 0;
    }
    .rta_progress {
      display: inline-block;
      position: relative;
      min-height: 310px;
    }
    .images {
      margin-left: 225px;
      float: left;
      padding: 15px;
      border: 1px solid #cecece;
      margin-right: 50px;
      opacity: 0;
      h5 {
        text-align: center;
      }
      img {
        max-width: 500px;
        max-height: 500px;
      }

    }
    .rta_hidden
    {
      display: inline-block;
      display: none;
    }
    .shortpixel-notice
    {
      background: #fff;
      width: 250px;
      min-height: 270px;
      border: 1px solid #ccc;
      padding: 15px;
      margin: 0 5% 10px 25px;
      float: right;
      h3 {
        line-height: 1.3em; // match size
      }

    }
    .shortpixel-bulk-notice
    {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
    button.stop-process
    {
      position: absolute;
      bottom: 10px;
      left: 80%;
      font-weight: normal;
      text-transform: none;
    }
  } // section.regenerate

  .form_controls
  {
    position: absolute;
    left: 45px;
    bottom: 0px;

    .save_indicator
    {
      display: none;
      color: #049901;
      font-weight: 700;
      background: url('/wp-admin/images/wpspin_light.gif') no-repeat left center;
      background-size: 16px 16px;
      padding-left: 20px;
      .saved {
        font-size: 60px;
      }
    }
    .save_note
    {
      color: orange;
      float: right;
      margin-left: 30px;
    }
  }

  // low in the tree, to override most.
  /*.rta_hidden
  {
    display: none !important;
  } */
}
